
* {
    box-sizing: border-box;
}

.head {
    display: flex;
    justify-content: space-between;

}

.chu {
    margin: 10px;
    padding: 10px;
}

.left {
    display: flex;
}

.right {
    display: flex;
}

.block {
    padding: 6px;
}

.chinh-background {
    background-color: #efefef;
    border: 1px solid #ffffff;
    
}

.header::after {
    content: "";
    clear: both;
    display: block;
}

.hinh {
    position: relative;
}
.footer{
    background-color: #f0f0f0;
}
.text {
    position: absolute;
    top: 20%;
    left: 10%;
    color: blanchedalmond;
}


[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
     .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    

    
    .hinh {
        display: none;
    }

    .text {
        position: static;
        color: black;
    }

    .head {
        background-color: #556270;
    }

}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    .hinh {
        display: none;
    }

    .text {
        position: static;
        color: black;
    }

    .head {
        background-color: #556270;
    }

}